/* import fonts  */

@font-face {
    font-family: "Raleway-regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Raleway-medium";
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: "Raleway-bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: "Raleway-semibold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: "Raleway-black";
    src: url(../fonts/Raleway-Black.ttf);
}
@font-face {
    font-family: "Raleway-extrabold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

/* we will store color in one variable */

:root{

--primary: #EEBF00;
--secondary: #232B38;
--ternary: #6C6C6C;
--danger: #FE4545;
--pure: #FEFEFE;
--light: #e8ecec;
--heaven: #FFFFFF;
--footer:#2D333F;

}

/* for reset default settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* css to container class  */

.container{
    width:100%;
    height:100%;
    padding:0 15px;
    margin:0 auto;
    /* background-color: aqua; */
}

@media (min-width:576px) {
    .container{
        max-width:540px;
        
    }
}
@media (min-width:768px) {
    .container{
        max-width:720px;
        

    }
}
@media (min-width:992px) {
    .container{
        max-width:960px;
    
    }
}
@media (min-width:1200px) {
    .container{
        max-width:1152px;
        
    }
}

.main-wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.nav-background{
    width: 100%;
    height: 100vh;
    background: var(--light);
    position: absolute;
    top:0;
    left:0;
    padding:0;
    z-index: 1;
}

.nav-trigger{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    padding: 15px;
    padding-top: 35px;
    display: none;
}

.nav-trigger svg{
    transform: rotate(180deg)   scaleY(-1) scaleX(-1);
    /* scaleX is for mirror the icon on x side or flip */
   

}

.site-content-wrapper{
    width:100%;
    height:100vh;
    position: absolute;
    background: var(--heaven);
    z-index: 2;
    transition: all 3s ease;
}

.site-content-wrapper.scaled{
    transform: scale(0.9) translateX(90%);
    box-shadow: 0 3px 10px 0 var(--secondary);
    border-radius: 10px;

}

.site-content{
    width:100%;
    height: 100%;
    overflow-x: auto;
}

.nav-background .mobile-logo{
    padding:1rem;
    display: block;
    
}
.nav-background .cart{
    margin-bottom: 2rem;
}


.nav-background .mobile-logo img{
    width:350px;
    height:250px;
    transform: translateY(-70px);
    margin-bottom: 0;
    
    
}

.nav-background .mobile-nav ul{
    list-style: none;
}

.nav-background .mobile-nav ul li{
    margin-bottom: 1rem;
}

.nav-background .mobile-nav ul li a{
    text-decoration: none;
    color: var(--secondary);
    font-family: "Raleway-medium";
    font-size: 2rem;
}

.nav-background .mobile-nav ul li a:hover{
    color: var(--primary);
}

.nav-background .mobile-nav{
    padding: 1rem;
}

.nav-background .contact, .nav-background .time{
    padding:1rem;
    padding-left: 0;
}

.nav-background .contact img, .nav-background .time img{
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.nav-background .contact h3, .nav-background .contact h4,
.nav-background .time h3, .nav-background .time h4{
    font-family: "Raleway-bold";
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.nav-background .mobile-nav{
   
    transform: translateY(-120px);
    
}
.nav-background .cart a{
    color: var(--secondary);
    text-decoration: none;
    font-family: "Raleway-bold";
    cursor: pointer;
}

.nav-background .cart img{
    margin-right: 0.75rem;
    width:20px;
    height:20px;
}













/* for fonts smoothing */

body{
    -webkit-font-smoothing:antialiased;
    font-family: "Raleway-regular";
}

/* css for topbar */

header.topbar{
    background-color: var(--secondary);
   color:var(--pure);   /* all divider and normal text will become white. not links  */
   font-family: "Raleway-semibold";
   

}

header.topbar .auth > div a{   /* > refers to all div in .auth class */
    color:var(--pure);  /* all links in topbar will become white */
    text-decoration: none;

}

header.topbar .container{
    display: flex;
     justify-content:space-between;  /* item of flexbox will go on left n right aur beech ma space hase  */
     align-items: center;
   
     padding: 0.3rem 0;
    
}

header.topbar .container .auth{ /* login ane icon ne seedha karwa waste ane topbar na context ma center karwa waste*/
    display:flex;
    align-items: center;
}

header.topbar .icon a{   /* for gap in left side icons*/
    margin:0 0.5rem;
}
header.topbar .container .auth .divider{  /* for gaps between divider and icon/login things */
    padding:0 1rem;
}

header.topbar .auth > div img{  /*icon ane login ne gap dewa waste */
    margin-right: 0.5rem;
}

/* /navbar top section  */
 nav .top {
    padding: 1.2rem 0;
    
    
} 

nav .top .container .contact h5{
    font-family: "Raleway-black";
    margin-bottom: 0.25rem;
}
nav .top .container .contact h6{
    font-family: "Raleway-medium";
letter-spacing: 0.055rem;
font-size: 0.76rem;
color:var(--ternary);
    
}

nav .top .container .time h5{
    font-family: "Raleway-black";
    margin-bottom: 0.25rem;
}
nav .top .container .time h6{
    font-family: "Raleway-medium";
letter-spacing: 0.055rem;
font-size: 0.76rem;
color:var(--ternary);
    
}

nav .top .container .contact img, nav .top .container .time img {
    margin-right: 1rem;
}

/* navbar menu section  */

nav .navbar a{  /*we can also write nav>div a */
text-decoration: none;
margin: 0 1.5rem;
font-size: 1.5rem;
padding:1.5rem 0;
font-family: "Raleway-semibold";
transition: all 1s ease;  /* all is for all properties. 1s is time taken for transition.*/

}

 nav .navbar a:hover{
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--pure);
    
}
nav .navbar a.active{
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--pure);

}



/* hero section  */

header.hero{
    height: 600px;
    
background-image: url(../images/hero.png);
    background-position:0% 0%;
    background-repeat: no-repeat;
overflow: hidden;

    
}
header.hero .container{
    position: relative;
}

header.hero .welcome span{
    font-family: "Raleway-bold";
    color:var(--secondary);
    margin-right: 0.75rem;
}

header.hero .welcome{
    margin-bottom: 0.6rem;
}

header.hero h1{
    font-family: "Raleway-extrabold";
    
    color:var(--secondary);
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}
header.hero h1 span{
    color:var(--primary);
    
}

header.hero p{
    font-size: 1.2rem;
    font-family: "Raleway-medium";
    width:50%;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

header.hero button:first-child{
    margin-right: 1rem;
}

header.hero .hero-image{
    position:absolute;
    top: -50px;
    right:50px;
}

/* sliding section  */

section{
    padding: 4rem 0;
}

section.top-products{
    background: var(--light);
}

section.top-products .food-slider .food-card{
    background: var(--heaven);
    padding: 1.5rem 0;
    border-radius: 10px;
}

section.top-products .food-slider .food-card .product-image img{

 width:80%;
 height:200px;
 padding-bottom: 1rem;
 object-fit:contain;


}

hr{
    border: 1px solid var(--light);

    margin: 1rem 0;
}

section.top-products .food-slider .food-card h2{
    font-family: "Raleway-bold";
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
}

section.top-products .food-slider .food-card .stars img{
    margin-right: 0.3rem;
    margin-bottom: 0.6rem;
}


section.top-products .food-slider .food-card .price{
    font-family: "Raleway-medium";
    color:var(--danger);
    margin-bottom: 1rem;
}

section.top-products .food-slider .food-card button{
    font-family: "Raleway-medium";
    color:var(--secondary);
    border: 2px solid var(--primary);
    background: var(--heaven);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width:50%;
    font-size:1rem;
    cursor: pointer;
    transition: all 1s ease;

}

.food-slider .food-card button img{
    background: var(--primary);
    padding:0.75rem;
    height:32px;
    margin-right: 1.2rem;
}

.slick-slide{
    margin:0 28px;

}
.slick-list{
    margin:0 -28px;
}

section.top-products .food-slider .food-card button:hover{

    background-color: var(--primary);
    color:var(--heaven);
}


.top-products .slider-btn{
    width:30px;
    height: 30px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    background: var(--primary);
    outline:none;

}

.prev-btn{
    position: absolute;
    top:180px;
    left:-3rem;
    z-index:1;
}
.top-products .slider{
    position:relative;
}

.next-btn{
    position: absolute;
    top:180px;
    right:-3rem;
    z-index:1;
}

.top-products .btn-wrapper{
    margin-top: 2rem;
}

/* About meal section  */

section.about-meal img{
    width:85%;
}

section.about-meal h2{
  font-family: "raleway-bold";
  color:var(--secondary);
  margin-bottom: 2rem;
  line-height: 1.3rem;
}

section.about-meal p{
    font-family: "raleway-regular";
    color:var(--secondary);
    margin-bottom: 4rem;
    line-height: 1.7rem;
  }

  section.our-services{
      background: var(--light);
    z-index: 0;
    position:relative;
      
  }

  section.our-services .service-card{
      background: var(--heaven);
      text-align: center;
      padding:2rem;
      padding-top: 4rem;
      position:relative;
      border-radius: 10px;
      margin-right:2.5rem;

  }
  
  section.our-services .service-card .icon{
      position:absolute;
      top:-45px;
      left:50%;
      transform:translateX(-50%);
  }

  section.our-services .service-card h2{
      font-family: "Raleway-bold";
      font-size: 1.3rem;
      margin-bottom: 1rem;
  }

  section.our-services .service-card p{
    font-family: "Raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
    line-height: 1.6rem;
  }

  section.our-services .card-wrapper{
      margin-right: -2.5rem;
      margin-top: 8rem;
  }


/* transperent background section  */

section.big-deal{
    background: linear-gradient(
        rgba(35,43,56,0.9),
        rgba(35,43,56,0.9)

    ), url(../images/food-table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}




section.big-deal .timer{
    align-items: center;
    justify-content: center;
    margin-right: -2rem;
    margin-bottom: 2rem;
    
}
section.big-deal .timer div{
    
    margin-right: 2rem;
    background: var(--primary);
    width:150px;
    height:150px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
}

section.big-deal .timer div span:first-child{
    font-family: "Raleway-semibold";
    font-size:2rem;
    color:var(--heaven);
    margin-bottom: 0.1rem;
}

section.big-deal .timer div .timer div span:last-child{
    font-family: "Raleway-medium";
    font-size:1.5rem;
    color:var(--heaven);
    
}

section.big-deal h1{
    font-size: 2.2rem;
}


/* latest news section  */

.latest-news .article-wrapper .card img{
    width:100%;

}

section.latest-news{
    background: var(--light);
    position: relative;
    z-index: 0;
}

.latest-news .article-wrapper{

    margin-right: -2rem;

}

.latest-news .article-wrapper .card{

    margin-right: 2rem;
    background: var(--heaven);
    border-radius: 10px;
}

article img{

    margin-bottom:1rem;
}

article div.card-content .post-meta span{
    margin-bottom: 1rem;
    margin-right: 3.5rem;
    
    
}
article div.card-content .post-meta{
    margin-right: -3.5rem;
}

article div h2{
    padding-top: 1rem;
    margin:1rem 0;

}

article div p{

    font-size: 1.5rem;
    padding:0.1rem 0;
    
}




.latest-news .article-wrapper .card .card-content{

  padding:2rem;

}

.latest-news .btn-wrapper{
    margin-top:2rem;
}


/* subscribe section  */

section.subscribe .container > div:first-child img{

    width:90%;


}


section.subscribe .container > div:first-child{
    flex:1;
}
section.subscribe .container > div:last-child{
    flex:1;
    

}

section.subscribe{
    background: var(--primary);
}


section.subscribe h1{
    font-family: "Raleway-bold";
    font-size: 2rem;
    margin-bottom: 2rem;
}

section.subscribe p{
    font-family: "Raleway-medium";
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}


section.subscribe .input-wrap{
    background: var(--heaven);
    display: flex;
    
    ;
    font-size: 1rem;
    border-radius: 10px;
}

section.subscribe .input-wrap input{
    width:100%;
    padding:1rem;
    border:none;
    font-size: 1.2rem;
    /* outline: none; */
}

section.subscribe .input-wrap input:focus{
    outline: none;

}

section.subscribe .input-wrap button{
    padding: 0.8rem 2rem;
    border: none;
    font-size: 1rem;
    background: var(--primary);
    color: var(--pure);
    border-radius: 8px;
    cursor: pointer;
    margin: 0.1rem 0.1rem;
    transition: all 1s ease;
    outline: none;
}

section.subscribe .input-wrap button:hover{

    border: 1px solid var(--primary);
    background: var(--secondary);
    color:var(--heaven);
}


/* contact and map section  */

section.contact-us .contact-info-wrapper{
    padding:4rem 0;
    flex:1;
}

section.contact-us{
    padding-top: 0;
    padding-bottom: 0;
}


section.contact-us .map{
    
    flex:1;
    filter: grayscale(100%);
}

section.contact-us .contact-info{
    display:flex;
    justify-content: center;
}


section.contact-us .contact-info > div > div{
    display:flex;
    align-items: center;
    margin-bottom: 2rem;
}

section.contact-us .contact-info > div > div img{
    margin-right: 1.3rem;
}

section.contact-us .contact-info > div > div > div{
    display: flex;
    flex-direction: column;
}

section.contact-us .contact-info > div > div > div span:first-child{
    font-family: "Ealeway-bold";
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

/* footer section */


footer .container{
    display:flex;
    color: var(--heaven);

}

footer .BoX{

      flex:1;
    margin-right: 2rem;
    text-align: center;
}

footer .instagram-api img{

    width:100%;
    height:100%;
    object-fit: cover;
}

footer{
    background: var(--footer);
    padding:4rem 0;
}

footer .instagram-api .post-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}


footer .instagram-api .post-wrapper > div{

    width: calc(1/4*100% - (1 - 1/4)*10px);
    margin-bottom: 10px;
    margin-right: 10px;

}

footer .BoX ul{
    list-style-type: none;
}

footer .BoX ul li a{

    color:var(--pure);
    text-decoration: none;
    transition: all 1s ease;
}

footer .BoX ul li a:hover{

    color:var(--primary);
}


footer .BoX h3{

    border-bottom: 1px solid var(--primary);
    padding-bottom: 1rem;
    margin-bottom: 1rem;

}

footer .BoX p{
    line-height: 1.6rem;
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 2rem;
}

footer .BoX ul li {

    margin-bottom: 1rem;
}

footer .BoX:nth-child(3) > div{
    display: flex;
    justify-content: center;

}
footer .BoX:nth-child(3){

    text-align: left;
}

footer .BoX:nth-child(3) h3{
    text-align: center;
}

footer .BoX:nth-child(3)> div img{
    margin-right: 1rem;
}

footer .BoX:nth-child(3) > div ul li{

    margin-bottom: 1.5rem;
}

.copyright{
    background-color: var(--secondary);
    text-align: center;
    color:var(--heaven);
    padding:0;
    margin: 0;
}
.copyright span{
    color:var(--primary);
}
















/* utility class */


.flex{
    display: flex;
}

.flex1{
    flex:1;
}

.text-pure{
    color:var(--pure);
}

.item-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

.magic{
    position:relative;
    background: var(--heaven);

}

.magic::after{
    content:'';
    display: block;
    width:100%;
    height:70px;
    background-image:url(../icons/shadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    bottom:-25px;
    z-index: -1;
    position:absolute;
}

.btn{
    padding: 0.8rem 0.8rem;
    border-radius: 10px;
    border: 1px solid transparent;
    line-height: 0.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 1s ease;
}

.btn-primary{
    background: var(--primary);
    color:var(--heaven);
}
.btn-secondary{
    background: var(--secondary);
    color:var(--heaven);
}

.btn-primary:hover{
    background-color: var(--heaven);
    color:var(--primary);
    border: 1px solid var(--primary);
}

.btn-secondary:hover{
    background-color: var(--heaven);
    color:var(--secondary);
    border: 1px solid var(--secondary);
}

.direction{
    flex-direction: column;
    margin-top: 300px;
    margin-right: 300px;

}

.section-heading{
    font-family: "Raleway-bold";
    text-align: center;
    position:relative;
    margin-bottom: 6rem;
}

.section-heading::after{
    content:'';
    display: block;
    width:100%;
    height:30px;
    position:absolute;
    background-image: url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    bottom:-40px;

}
.text-center{

    text-align: center;
}

.magic-small{
    position:relative;
    background: var(--heaven);

}

.magic-small::after{
    content:'';
    display: block;
    width:100%;
    height:70px;
    background-image:url(../icons/shadow-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    bottom:-45px;
    z-index: 1;
    position:absolute;
    transform: translateX(-50%);
    left:50%;
}

.text-primary{
    color:var(--primary);
}

.magic-small1{
    position:relative;
    background: var(--heaven);

}

.magic-small1::after{
    content:'';
    display: block;
    width:100%;
    height:70px;
    background-image:url(../icons/shadow-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    bottom:-30px;
    z-index: -1;
    position:absolute;
    transform: translateX(-50%);
    left:50%;
}


@media(max-width:1200px){
    .nav-trigger{
        display: block;
    }
    header.topbar{
        display: none;
    }
    nav{
        display: none;
    }
}

@media(max-width:1400px){
    header.hero .hero-image{
        right:-50px;
        top:100px;
    }
    header.hero{
        margin-top: -3rem;
    }
    .latest-news .article-wrapper{
        flex-direction: column;

    }
    .latest-news .article-wrapper .card{
        margin-bottom: 4rem;
    }
    footer .instagram-api .post-wrapper > div{
        width:calc(1/3*100% - (1 - 1/3)*10px);
    }
}

@media(max-width:1100px){
    .top-products .slider .slider-btn{
        display: none!important;
        /* important bcoz slider btn has display of inline */
    }

   header.hero .hero-image{
        right:-200px;
        top:100px;
    }
}
@media(max-width:768px){
    .about-meal .about-meal-wrapper{
        flex-direction: column;
    }

    .about-meal .about-meal-wrapper img{
        width:100%;
        margin-bottom: 2rem;
    }

     .about-meal .btn-secondary{
        
        margin:0 auto;

        display: flex;
        
    }
    .about-meal .about-meal-wrapper h2{
        letter-spacing: 0.3mm;
        line-height: 10mm;
    }

    section.our-services .card-wrapper{
        flex-direction: column;
    }

    section.our-services .card-wrapper .service-card{
        margin-bottom: 6rem;
    }

    footer .container{
        flex-direction: column;
    }

    footer .BoX{
        text-align: left;
        margin-bottom: 3rem;
        margin-right: 0;
    }
   footer .BoX:nth-child(3) h3{
       text-align: left;
   }

   footer .BoX:nth-child(3) >div{
       display: block;
   }
}

@media(max-width: 830px) {
    header.hero .hero-image{
        right:-250px;
        top:100px;
    }
    
}

@media(max-width: 750px) {
    header.hero .hero-image{
        right:-350px;
        top:150px;
    }
}
@media(max-width: 570px) {
    header.hero .hero-image{
        right:-500px;
        top:100px;
    
    }
    

    header.hero .container{
        padding-left: 2rem;
    
    }
    header.hero p{
        width: 200%;
     }

     header.hero .feel{
         width:200%;
     }

     header.hero h1{
         width: 200%;
     }
}

@media(max-width: 1464px){
    header.hero{
        padding-left: 5rem;
        
    }
}
@media(max-width: 550px){
    header.hero{
        padding-left: 3rem;
        
    }
}

@media(max-width: 480px){
    header.hero{
        padding-left: 2rem;
        
    }
}
@media(max-width: 450px){
    header.hero{
        padding-left: 1rem;
        
    }
}
@media(max-width: 430px){
    header.hero{
        padding-left: 0.2rem;
        
    }
    header.hero p{
      flex-wrap: wrap;
    }
}

@media(max-width: 870px){
    header.hero p{
        width:80%;
    }
    header.hero .hero-image{
        right:-300px;
        top:100px;
    }
    section.contact-us{
        flex-direction: column;
    }
}
@media(max-width: 764px){
    header.hero p{
        width:120%;
    }
    header.hero h1{
        width:140%;zz
    }
    header.hero .hero-image{
        right:-400px;
        top:100px;
    }
}
@media(max-width: 691px){
    header.hero p{
        width:150%;
    }
    header.hero .hero-image{
        right:-500px;
        top:180px;
    }
}
@media(max-width: 667px){
    header.hero .feel{
        width:200%;
    }
    header.hero h1{
        width:200%;
    }
}
@media(max-width: 654px){
    header.hero p{
        width:180%;
    }
    header.hero h1{
        width:180%;
    }

    section.subscribe .container{
        flex-direction: column;
    }

   
}
@media only screen and  (min-width:740px) and (max-width:890px){

    header.hero p{
        width:100%;
    }

}
@media only screen and  (min-width:0) and (max-width:420px){

    header.hero p{
        width:100%;
    }
    header.hero h1{
        width:100%;
    }
    header.hero{
        height: 100vh;
    }
    header.hero .feel{
    
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
       
    
    }
    header.hero #btn{
        margin-bottom: 10px;
        padding: 0.8rem 2rem;
    }
    header.hero button:first-child{
        margin-right:0;
    }
    header.hero{
        height: 140%;
        
    background-image: url(../images/hero.png);
        background-position:0% 100%;
        background-repeat: no-repeat;
    overflow: hidden;
    
        
    }


}